<div class="panel panel-info" >
    <div class="panel-heading">
        <h3 class="panel-title">{{list.title}}
			<div class="btn-group pull-right">
				<button  ng-confirm-click="Are you sure you want to delete that list? All tasks will be deleted."
			  			ng-click="deleteList(list)" 
			  			type="button" 
			  			class="btn btn-default btn-xs">
			  		<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
		</h3>
    </div>

		<!-- The dnd-list directive allows to drop elements into it.
		     The dropped data will be added to the referenced list -->
		<ul dnd-list="list.tasks" class="list-group">
		    <li ng-repeat="task in list.tasks | filter:{status:filterStatus, user_id:filterMember, title:searchTask, tag:filterTag}:false"
		        dnd-draggable="task"
		        dnd-moved="moveTask(task, list, $index)"
		        dnd-effect-allowed="move" 
		        class="list-group-item"
		        >
		        {{task.title}}
			    <div class="btn-group pull-right">
				  <button ng-click="openEditTask(task, list, $index)" type="button" class="btn btn-default btn-xs">
				  	<span class="glyphicon glyphicon-pencil"></span>
				  </button>
				  <button ng-click="deleteTask(task, list, $index)" type="button" class="btn btn-default btn-xs">
				  	<span class="glyphicon glyphicon-remove"></span>
				  </button>
				</div>
		    </li>
		    <li ng-show="showForm === list.id" class="list-group-item">
		    	<form ng-submit="createNewTask(list)">
			        <div class="input-group">
					  <input type="text" class="form-control" ng-model="list.newTaskTitle" placeholder="New task...">
					  <span class="input-group-btn">
				        <button class="btn btn-default">Add</button>
				      </span>
					</div>
			    </form>
		    </li>
		    <li class="list-group-item custom-last-item">&nbsp;
		    	<div class="btn-group pull-right">
				  <button ng-click="addTask(list)" type="button" class="btn btn-default btn-xs">
				  	<span class="glyphicon glyphicon-plus"></span> Add task
				  </button>
				</div>
		    </li>
		</ul>
</div>
