
<% if logged_in?%>
	<div ng-hide="showOverviewPage"><%= render partial: "projects/dashboard" %></div>
	<div ng-show="showOverviewPage"><%= render partial: "tasks/overview" %></div>
<% else %>
    <%= render partial: "form" %>
<% end %>
