<div class="row" ng-controller="OverviewController">
	<h1>All tasks affected to me 
		<button ng-click="toggleDisplayFilter()" type="button" class="btn btn-default">
		  	<span class="glyphicon glyphicon-filter"></span>
		</button>
	</h1>
	<%= render partial: "/lists/filter_form" %>
	<div class="col-md-3" ng-repeat="project in projectsOverview">
		<div class="panel panel-info">
		  	<!-- Project Title -->
		  	<div class="panel-heading">
		  		<h3 class="panel-title">Project "{{project.title}}"</h3>
		  	</div>

		  	<!-- Lists and tasks -->
		  	<div class="list-group" ng-repeat="list in project.lists" ng-show="(list.tasks | filter:filterByGroup(list)).length">

				<a class="list-group-item disabled">{{list.title}}</a>

				<a href="#" 
					class="list-group-item" 
					ng-repeat="task in list.tasks | filter:{status:filterStatus, title:searchTask, tag:filterTag}:false" 
					ng-init="task.detail = false" 
					ng-click="task.detail = !task.detail">
						{{task.title}}<span class="badge">{{task.tag}}</span><br>
						<small class="text-info"><em>{{task.status}}</em></small>
						<div ng-show="task.detail" class="text-muted">
							<small><em>Desc: {{task.description}}</em></small>
						</div>
				</a>
			</div>
		</div>
	</div>

</div>