<div ng-show="project_display !== undefined" ng-controller="ListController">
	<h1>{{project_display.title}} 
		<button ng-click="addList()" type="button" class="btn btn-default">
		  	<span class="glyphicon glyphicon-plus"></span> Add list
		</button>
		<div class="btn-group">
			<button ng-click="openEditProject('sm')" type="button" class="btn btn-default">
			  	<span class="glyphicon glyphicon-pencil"></span>
			</button>
			<button ng-click="openAddMember('sm')" type="button" class="btn btn-default">
			  	<span class="glyphicon glyphicon-user"></span>
			</button>
			<button ng-confirm-click="Are you sure you want to delete project? All lists and tasks of the project will be deleted." 
					ng-click="deleteProject()" 
					type="button" 
					class="btn btn-default">
			  	<span class="glyphicon glyphicon-remove"></span>
			</button>
			<button ng-click="toggleDisplayFilter()" type="button" class="btn btn-default">
			  	<span class="glyphicon glyphicon-filter"></span>
			</button>
		</div>
	</h1>
	<%= render partial: "/lists/filter_form" %>
	
	<div class="simpleDemo row">
	    <div class="col-md-12" >
	        <div class="row" ng-controller="TaskController">
	            <div class="col-md-3" ng-repeat="list in allLists">
	                <%= render partial: "/lists/list_tasks" %>
	            </div>
	            <div class="col-md-3" ng-show="showFormNewList">
	                <div class="panel panel-info">
	                    <div class="panel-heading">
	                        <form ng-submit="createNewList()">
						        <input type="text" class="form-control" ng-model="newList" placeholder="New list">
								<button class="btn btn-default btn-sm">Add</button>
							    <span ng-click="cancelAddList()" class="glyphicon glyphicon-remove"></span>
						    </form>
	                    </div>
	                    <div class="panel-body">
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
<%= render partial: "/projects/add_member_modal" %>
<%= render partial: "/tasks/edit_task_modal" %>

</div>
