<h1><%= @projects[0].title%></h1>

<div ng-app="projectApp" ng-controller="ProjectController">

	<div class="simpleDemo row">

    <div class="col-md-12">
        <div class="row">
            <div ng-repeat="list in allLists" class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{list.title}}</h3>
                    </div>
                    <div class="panel-body">

						<!-- The dnd-list directive allows to drop elements into it.
						     The dropped data will be added to the referenced list -->
						<ul dnd-list="list.tasks">
						    <!-- The dnd-draggable directive makes an element draggable and will
						         transfer the object that was assigned to it. If an element was
						         dragged away, you have to remove it from the original list
						         yourself using the dnd-moved attribute -->
						    <li ng-repeat="task in list.tasks"
						        dnd-draggable="task"
						        dnd-moved="moveTask(task, list, $index)"
						        dnd-effect-allowed="move"
						        dnd-selected="selected = task"
						        ng-class="{'selected': selected === task}"
						        >
						        {{task.title}}
						    </li>
						</ul>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>







</div>
