<div>
	<h1>{{project_display.title}} <a ng-click="addList()" class="glyphicon glyphicon-plus"></a></h1>

	

	<div class="simpleDemo row">

    <div class="col-md-12">
        <div class="row">
            <div ng-repeat="list in allLists" class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{list.title}}</h3>
                    </div>
                    <div class="panel-body">

						<!-- The dnd-list directive allows to drop elements into it.
						     The dropped data will be added to the referenced list -->
						<ul dnd-list="list.tasks">
						    <!-- The dnd-draggable directive makes an element draggable and will
						         transfer the object that was assigned to it. If an element was
						         dragged away, you have to remove it from the original list
						         yourself using the dnd-moved attribute -->
						    <li ng-repeat="task in list.tasks"
						        dnd-draggable="task"
						        dnd-moved="moveTask(task, list, $index)"
						        dnd-effect-allowed="move" 
						        >
						        {{task.title}}
						    </li>
						    <li ng-show="showForm === list.id">
						    	<form ng-submit="createNewTask(list)">
							        <div class="input-group">
									  <input type="text" class="form-control" ng-model="list.newTaskTitle" placeholder="New task...">
									  <span class="input-group-btn">
								        <button class="btn btn-default">Add</button>
								      </span>
									</div>
							    </form>
						    </li>
						</ul>
						<span ng-click="addTask(list)" class="glyphicon glyphicon-plus"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-show="showFormNewList">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <form ng-submit="createNewList()">
					        <!-- <div class="input-group"> -->
							  <input type="text" class="form-control" ng-model="newList" placeholder="New list">
							  <!-- <span class="input-group-btn"> -->
						        <button class="btn btn-default btn-sm">Add</button>
						        <span ng-click="cancelAddList()" class="glyphicon glyphicon-remove"></span>
						      <!-- </span> -->
							<!-- </div> -->
					    </form>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>







</div>
