
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">New project</h3>
    </div>
    <form name="projectForm" ng-submit="projectForm.$valid && ok()" novalidate>
        <div class="modal-body">
        	<input type="text" class="form-control" ng-model="editProject.title" placeholder="Title" required>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="submit">Save</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>